#directories
__pycache__/
data/

#compiled
*.py[cod]

#data
*.f[an]a
*.fasta
*.[tc]sv
# data/output/
# data/ncbidata/
# data/datasets
# data/nextclade_reference

#notebooks
notebooks/
*.ipynb

#neptune
test_neptune.py
.neptune/

#authentification for neptune
configuration/auth.json

#illustraions
*.png
*.jpg